@import "tailwindcss";

@theme {
  --color-teal: hsl(176, 35%, 63%);
  --color-sonic-silver: hsl(0, 0%, 44%);
  --color-eerie-black: hsl(0, 0%, 9%);
  --color-ocean-green: hsl(148, 45%, 58%);
  --color-candy-pink: hsl(356, 65%, 63%);
  --color-cultured: hsl(0, 0%, 96%);
  --font-jost: "Jost", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-jost, "Jost", sans-serif);
  background-color: white;
  color: hsl(0, 0%, 9%);
}

html {
  scroll-behavior: smooth;
}

dialog::backdrop {
  background: rgb(0 0 0 / 40%);
}
